$baseline: 1.5rem;

$background: #0c0b12;
$color: #c6c1d9;

$links: #5ee1e6;
$hover-links: #2fa4a9;
$visited-links: #2e1a47;

$font-size: 1.125rem;
$font-family: "Space Grotesk";
$line-height: 1.75;
$code_font:
  400 1.125rem/1.75 SFMono-Regular,
  Consolas,
  Liberation Mono,
  Menlo,
  monospace;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;
