$baseline: 1.2rem;

$background: white;
$color: #181818;

$links: #2e1a47;
$hover-links: #2e1a47;
$visited-links: #2e1a47;

$font-size: 1.125rem;
$font-family: "Space Mono";
$line-height: 1.2;
$code_font:
  400 1.125rem/1.75 SFMono-Regular,
  Consolas,
  Liberation Mono,
  Menlo,
  monospace;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;
